name: .NET Build & Test

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

jobs:
  build-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore
    
    - name: Test
      run: dotnet test -- --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml

    - name: .NET Test ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.4.18
      with:
        reports: '**/*.cobertura.xml'
        targetdir: Coverage-Reports
        reporttypes: Html;MarkdownSummaryGithub

    - name: Create Summary Report for GitHub Action
      run: cat Coverage-Reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
      